@(metas: List[Meta], message:String)


<html lang="">
    <head>
        <title>Gerenciador de Metas</title>
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <head>
    <body>
        <div class="page-header" style="text-align: center">
            <h1>Gerenciador de Metas</h1>
        </div>
        <div class="col-md-3">
            <form action="@routes.Application.novaMeta()" method="post">
                <label for="nome"> Nome: </label>
                <input type="text" name="nome" id="inputNome" class="form-control"required="required">
                <label for="descricao"> Descrição: </label>
                <input type="text" name="descricao" id="inputDescricao" class="form-control"required="required">
                <label for="semanasRestantes"> Semanas restantes: </label>
                <select name="semanasRestantes" id="inputSemanasRestantes" class="form-control" required="required">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>
                <label for="prioridade"> Prioridade: </label>
                <select name="prioridade" id="inputPrioridade" class="form-control" required="required">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <input type="submit" class="btn btn-primary" value="Create">
            </form>
        </div>
        <div class="col-md-9">
            <table class="table">
                <thead>
                    <tr>
                        <th>Meta </th>
                        <th>Descrição </th>
                        <th>Semanas restantes </th>
                        <th>Prioridade</th>
                        <th>Status</th>
                        <th>Ações </th>
                    </tr>
                </thead>
                <tbody>
                    @for(meta <- metas) {
                        @if(meta.getAlcancada() == 1) {
                            <tr class="success">
                                <td>@meta.getNome()</td>
                                <td>@meta.getDescricao()</td>
                                <td>@meta.getSemanasRestantes()</td>
                                <td>@meta.getPrioridade()</td>
                                <td>Alcançada!</td>
                                <td>
                                    <form action="@routes.Application.deletaMeta(meta.getId())" method="post">
                                        <button class="btn btn-danger" id="remover">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </form>
                                </td>
                                <td></td>

                            </tr>
                        }
                    }
                    @for(meta <- metas) {
                        @if(meta.getAlcancada() == 0) {
                            <tr class="info">
                                <td>@meta.getNome()</td>
                                <td>@meta.getDescricao()</td>
                                <td>@meta.getSemanasRestantes()</td>
                                <td>@meta.getPrioridade()</td>
                                <td>Pendente</td>
                                <td>
                                    <form action="@routes.Application.alcancarMeta(meta.getId())" method="post">
                                        <button class="btn btn-success" id="alcancar">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form action="@routes.Application.deletaMeta(meta.getId())" method="post">
                                        <button class="btn btn-danger" id="remover">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </form>

                                </td>

                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>






            <!-- jQuery -->
        <script src="http://code.jquery.com/jquery.js"></script>
            <!-- Bootstrap JavaScript -->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    </body>
</html>

